.row.first-row
  .col-12
    %h3
      Registro de Actividad
    .container-fluid.table-container
      .collapse#filtros
        %p Aqui van los filtros
      %table.table.table-striped.table-hover.table-bordered#registroTable
        %thead
          %tr
            %th{:scope => "col"} Usuario
            %th{:scope => "col"} Rol
            %th{:scope => "col"} Acción
            %th{:scope => "col"} Documento
            %th{:scope => "col"} Fecha acción
        %tbody
          - @logs.each do |log|
            %tr
              %th{:scope => "row"}
                = log.user.nombre
              %td
                = log.user.permiso
              %td
                - case log.event
                - when 'create'
                  Subir
                - when 'update'
                  - if log.document.activo
                    Editar
                  - else
                    - if log.document.sobreescrito
                      Sobreescribir
                    - else
                      Borrar
              %td
                - if log.document.activo
                  = link_to log.document.titulo, log.document
                - else
                  = log.document.titulo
              %td{"data-order": log.created_at}
                = log.created_at.strftime("%d/%m/%Y, %H:%M:%S")
          - @descargas.each do |descarga|
            %tr
              %th{:scope => "row"}
                = descarga.user.nombre
              %td
                = descarga.user.permiso
              %td
                Descargar
              %td
                - if descarga.documento.activo
                  = link_to descarga.documento.titulo, descarga.documento
                - else
                  = descarga.documento.titulo
              %td{"data-order": descarga.created_at}
                = descarga.created_at.strftime("%d/%m/%Y, %H:%M:%S")
:javascript
  $(document).ready(function() {
    if ( ! $.fn.DataTable.isDataTable( '#registroTable' ) ) {
      $('#registroTable').DataTable({
        "language":dataTable_locale,
        "order": [[ 4, 'desc' ]]
    });}
  });
  document.addEventListener("turbolinks:load",function(){
    if ( ! $.fn.DataTable.isDataTable( '#registroTable' ) ) {
      $('#registroTable').DataTable({
        "language":window.dataTable_logs_locale,
        "order": [[ 4, 'desc' ]]
      });
    }
  });

