.row.first-row
  .col-12
    %h3
      Administración de Usuarios
    .container-fluid.table-container
      %table.table-hover.table-bordered.table-striped.datatable#usersTable
        %thead
          %tr
            %th{:scope => "col"} Nombre
            %th{:scope => "col"} RUT
            %th{:scope => "col"} Rol
            %th{:scope => "col"} Editar
        %tbody
          - if @users.blank?
            %tr
              %th.center-cell{:colspan => "5"} No existen usuarios en el sistema.
          - else
            - @users.each do |user|
              %tr
                %td{:scope => "row"}
                  %b
                    = user.nombre
                %td{:scope => "row"}
                  = user.rut
                %td
                  = user.permiso
                %td
                  %button.btn.btn-primary{"data-target" => "#edit-usuario"+user.id.to_s, "data-toggle" => "modal", :type => "button"}
                    Editar
:javascript
   $(document).ready(function() {
   if ( ! $.fn.DataTable.isDataTable( '#usersTable' ) ) {
     $('#usersTable').DataTable({
       "columnDefs": [
          { "orderable": false, "targets": 3 }
        ],
      "language":dataTable_users_locale
     });}
   });
   document.addEventListener("turbolinks:load",function(){
    if ( ! $.fn.DataTable.isDataTable( '#usersTable' ) ) {
     $('#usersTable').DataTable({
     "columnDefs": [
        { "orderable": false, "targets": 3 }
      ],
      "language":window.dataTable_users_locale
     });
    }
   });
