
.row.first-row
  .col-12
    %h3
      Crear Nuevo Tipo
    .container-fluid
      = form_tag("/admin/create_tipo", method: "post") do
        .form-inline
          %input#inlineFormInputName2.form-control.mb-2.mr-sm-2{:placeholder => "Ingrese nombre ", :type => "text", :name=>"nombre"}
          %button.btn.btn-primary.mb-2{:type => "submit"} Crear

.row.first-row
  .col-xs-12
    .row
      %h3
        Editar Tipos
      .container-fluid.table-container
        %table.table-hover.table-striped.table-bordered#tiposTable
          %thead
            %tr
              %th{:scope => "col"} Nombre
              %th{:scope => "col"} Fecha Creación
              %th{:scope => "col"} Última Modificación
              %th{:scope => "col"} Editar
              %th{:scope => "col"} Eliminar
          %tbody
            - @tipos.each do |tipo|
              %tr
                %td
                  %b
                    = tipo.nombre
                %td
                  = tipo.created_at.strftime("%H:%M, %d/%m/%Y")
                %td
                  = tipo.updated_at.strftime("%H:%M, %d/%m/%Y")
                %td
                  %button.btn.btn-primary{"data-target" => "#edit-tipo"+tipo.id.to_s, "data-toggle" => "modal", :type => "button"}
                    Editar


                %td
                  %button.btn.btn-danger{"data-target" => "#modalEliminarTipo"+tipo.id.to_s, "data-toggle" => "modal", :type => "button"} Eliminar

:javascript
   $(document).ready(function() {
   if ( ! $.fn.DataTable.isDataTable( '#tiposTable' ) ) {
     $('#tiposTable').DataTable({
       "columnDefs": [
          { "orderable": false, "targets": [3,4] }
        ],
      "language":dataTable_tipos_locale
     });}
   });
   document.addEventListener("turbolinks:load",function(){
    if ( ! $.fn.DataTable.isDataTable( '#tiposTable' ) ) {
     $('#tiposTable').DataTable({
     "columnDefs": [
        { "orderable": false, "targets": [3,4] }
      ],
      "language":window.dataTable_tipos_locale
     });
    }
   });
