.row.first-row
  .col-12
    %h3
      Crear Nueva Área
    = form_tag("/admin/create_area", method: "post") do
      .form-inline
        %input#inlineFormInputName2.form-control.mb-2.mr-sm-2{:placeholder => "Ingrese nombre ", :type => "text", :name=>"nombre"}
        %span.mb-2{:for=>"subArea"}
          Subárea de:
        %select.form-control.mb-2.ml-2.mr-sm-2#subArea{:name=>"parte_de_id"}
          %option{:value=>""} Ninguna
          - @areas.each do |area|
            - if(area.parte_de == nil)
              %option{:value=>area.id}
                =area.nombre
        %button.btn.btn-primary.mb-2{:type => "submit"} Crear

.row.first-row
  .col-xs-12
    %h3
      Editar Áreas
    .container-fluid.table-container
      %table.table.table-hover.table-striped.table-bordered#areasTable{:style=>"width:100%"}
        %thead
          %tr
            %th{:scope => "col"} Nombre
            %th{:scope => "col"} Fecha Creación
            %th{:scope => "col"} Última Modificación
            %th{:scope => "col"} Editar
            %th{:scope => "col"} Eliminar
        %tbody
          - @areas.each do |area|
            %tr
              %td
                -if area.parte_de_id
                  %b
                    = area.nombre
                  = "( "+area.parte_de.nombre+" )"
                -else
                  %b
                    = area.nombre
              %td
                = area.created_at.strftime("%H:%M, %d/%m/%Y")
              %td
                = area.updated_at.strftime("%H:%M, %d/%m/%Y")
              %td
                %button.btn.btn-primary{"data-target" => "#edit-area"+area.id.to_s, "data-toggle" => "modal", :type => "button"}
                  Editar

              %td
                %button.btn.btn-danger{"data-target" => "#modalEliminarArea"+area.id.to_s, "data-toggle" => "modal", :type => "button"}
                  Eliminar

:javascript
   $(document).ready(function() {
    if ( ! $.fn.DataTable.isDataTable( '#areasTable' ) ) {
     $('#areasTable').DataTable({
       responsive:true,
       "columnDefs": [
          { "orderable": false, "targets": [3,4] }
        ],
      "language":dataTable_areas_locale
     });}
   });
   document.addEventListener("turbolinks:load",function(){
     if ( ! $.fn.DataTable.isDataTable( '#areasTable' ) ) {
       $('#areasTable').DataTable({
       "columnDefs": [
          { "orderable": false, "targets": [3,4] }
        ],
        "language":window.dataTable_areas_locale
       });
     }
   });
