-#=render 'layouts/navbar'
.container-fluid
  -#modales para eliminar areas
  - @areas.each do |area|
    = form_tag("/admin/delete_area", method: "post") do
      .modal.fade{:role => "dialog", "aria-hidden"=>"true", "aria-labelledby"=>"#modalEliminarArea"+area.id.to_s+"Label", :tabindex => "-1", :id=>"modalEliminarArea"+area.id.to_s}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4.modal-title{:id=>"modalEliminarArea"+area.id.to_s+"Label"} Confirmación
            .modal-body{:style=>"font-size: 16px"}
              %p
                Se eliminará el área
                %b
                  =area.nombre
                -if area.parte_de_id
                  ( Subárea de
                  =area.parte_de.nombre
                  )
              -if area.sub_areas.size>0
                %p
                  Se eliminarán también las siguientes
                  %b
                    subáreas:
                  asociadas
                %ul
                  -area.sub_areas.each do |subarea|
                    %li
                      %b
                        =subarea.nombre

            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                Cancelar
              %input{:value=>area.id, :type => "hidden", :name=>"id"}
              %button.btn.btn-danger{:type => "submit"}
                Eliminar Área(s)
  - @tipos.each do |tipo|
    = form_tag("/admin/delete_tipo", method: "post") do
      .modal.fade{:role => "dialog", "aria-hidden"=>"true", "aria-labelledby"=>"#modalEliminarTipo"+tipo.id.to_s+"Label", :tabindex => "-1", :id=>"modalEliminarTipo"+tipo.id.to_s}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4.modal-title{:id=>"modalEliminarTipo"+tipo.id.to_s+"Label"} Confirmación
            .modal-body{:style=>"font-size: 16px"}
              %p
                Se eliminará el tipo
                %b
                  =tipo.nombre
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                Cancelar
              %input{:value=>tipo.id, :type => "hidden", :name=>"id"}
              %button.btn.btn-danger{:type => "submit"}
                Eliminar Tipo
  -# modales para editar tipos
  - @tipos.each do |tipo|
    = form_tag("/admin/update_tipo", method: "post") do
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "edit-tipo"+tipo.id.to_s+"Label", :role => "dialog", :tabindex => "-1", :id=>"edit-tipo"+tipo.id.to_s}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5.modal-title{:id=>"edit-tipo"+tipo.id.to_s+"Label"}
                ="Editando Tipo: "+tipo.nombre
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
            .modal-body
              .form-group
                %label.ml-2.doc-input-label{:for=>"input_tipo"+tipo.id.to_s}
                  ="Nuevo Nombre:"
                %input.form-control{:value=>tipo.nombre, :id=>"input_tipo"+tipo.id.to_s,:type=>"text", :placeholder=>"Ingresar nombre", :name=>"nombre"}
            .modal-footer
              %input{:type=>"hidden",:name=>"id", :value=>tipo.id}
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancelar
              %button.btn.btn-primary{:type => "submit"} Guardar Cambios

  -# modales para editar areas
  - @areas.each do |area|
    = form_tag("/admin/update_area", method: "post") do
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "edit-area"+area.id.to_s+"Label", :role => "dialog", :tabindex => "-1", :id=>"edit-area"+area.id.to_s}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5.modal-title{:id=>"edit-area"+area.id.to_s+"Label"}
                ="Editando Área: "+area.nombre
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
            .modal-body
              .form-group
                %label.ml-2.doc-input-label{:for=>"input_area"+area.id.to_s}
                  ="Nuevo Nombre:"
                %input.form-control{:value=>area.nombre, :id=>"input_area"+area.id.to_s,:type=>"text", :placeholder=>"Ingresar nombre", :name=>"nombre"}
              .form-group
                -if area.sub_areas.size>0
                  %small Nota: para convertir esta área en subárea, es necesario quitar todas sus áreas hijas.
                -else
                  %label.ml-2.doc-input-label{:for=>"subAreaModal"+area.id.to_s}
                    =area.nombre+" es subárea de:"
                  %select.form-control.mb-2.ml-2.mr-sm-2{:name=>"parte_de_id", :id=>"subAreaModal"+area.id.to_s}
                    %option{:value=>""} Ninguna
                    - @areas.each do |areaPadre|
                      - if(areaPadre.parte_de == nil)
                        -unless(area.id == areaPadre.id)
                          -if(area.parte_de_id == areaPadre.id)
                            %option{:value=>areaPadre.id, :selected=>"selected"}
                              =areaPadre.nombre
                          -else
                            %option{:value=>areaPadre.id}
                              =areaPadre.nombre
            .modal-footer
              %input{:type=>"hidden",:name=>"id", :value=>area.id}
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancelar
              %button.btn.btn-primary{:type => "submit"} Guardar Cambios

  -# modales para editar usuarios
  - @users.each do |user|
    = form_tag("/admin/update_usuario", method: "post") do
      .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "edit-usuario"+user.id.to_s+"Label", :role => "dialog", :tabindex => "-1", :id=>"edit-usuario"+user.id.to_s}
        .modal-dialog{:role => "document"}
          .modal-content
            .modal-header
              %h5.modal-title{:id=>"edit-usuario"+user.id.to_s+"Label"}
                ="Editando Usuario: "+user.nombre
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
            .modal-body
              .form-group
                %label.ml-2.doc-input-label
                  Modificar Tipo de Usuario
                  =user.permiso
                %select.form-control.mb-2.ml-2.mr-sm-2#subArea{:name=>"permiso"}
                  - @permisos.each do |permiso|
                    -if(user.permiso == permiso[0])
                      %option{:value=>permiso[0], :selected=>"selected"}
                        =permiso[0]
                    -else
                      %option{:value=>permiso[0]}
                        =permiso[0]
            .modal-footer
              %input{:type=>"hidden",:name=>"id", :value=>user.id}
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancelar
              %button.btn.btn-primary{:type => "submit"} Guardar Cambios



  .col-12.min-vh-100
    .row
      =render 'layouts/alert'
      -if current_page?(admin_usuarios_url) or current_page?(admin_url)
        =render 'index-usuarios'
      -elsif current_page?(admin_tipos_url)
        =render 'index-tipos'
      -elsif current_page?(admin_areas_url)
        =render 'index-areas'
      -elsif current_page?(admin_actividad_url)
        =render 'index-logs'
