.container-fluid
  .row
    .col-xs-12.mt-1
      .col-xs-12
        %h3 Búsqueda Avanzada
  .row
    .col-xs-12
      =form_tag(results_path, method: :get) do
        .row.form-margin
          .col-xs-12
            .col-md-6
              .form-group
                %label{:for=>"inputTitulo"}
                  Título
                %input.form-control#inputTitulo{:type=>"text", :aria-describedby=>"tituloHelp", :placeholder=>"Ingresar Título", :name=>"search[title]"}
            .col-md-6
              .form-group
                %label{:for=>"inputTipo"}
                  Tipo de Documento:
                %select.js-example-basic-single#inputTipo{ :name => "search[tipo]", :style=>"width:100%"}
                  %option{:value=>"", :selected=>""}
                    \-
                  -@tipos.each do |tipo|
                    %option{:value=>tipo.id}
                      =tipo.nombre
        .row.form-margin
          .col-xs-12
            .form-group
              .col-md-3
                %label{:for=>"inputFechaInicio"}
                  Fecha de subida desde:
                .input-group
                  %input.form-control#inputFechaInicio{:name=>"search[initial_date]","data-provide"=>"datepicker"}
                  %span.input-group-addon{"data-target" => "#inputFechaInicio"}
                    .input-group-text
                      %i.fa.fa-calendar
              .col-md-3
                %label{:for=>"inputFechaFin"}
                  Fecha de subida hasta:
                .input-group
                  %input.form-control#inputFechaFin{:name=>"search[end_date]","data-provide"=>"datepicker"}
                  %span.input-group-addon{"data-target" => "#inputFechaFin"}
                    .input-group-text
                      %i.fa.fa-calendar
              .col-md-6
                .form-group
                  %label.doc-input-label{:for=>"inputFechaFin"}
                    Área(s):
                  %select.js-example-basic-multiple#inputArea{:multiple => "multiple", :name => "search[area]", :style=>"width:100%"}
                    -@areas.each do |area|
                      %option{:value=>area.id}
                        =area.nombre
        .row.form-margin
          .col-xs-12
            .col-xs-1
              %button.btn.btn-primary{:type=>"submit"}
                Buscar
:javascript
  $.fn.datepicker.defaults.format = "dd/mm/yyyy";
  $.fn.datepicker.defaults.language = "es";
  $('#inputFechaInicio').datepicker();
  $('#inputFechaFin').datepicker();
  console.log($('.datepicker'))


:javascript
  $(document).ready(function() {
    $('.js-example-basic-single').select2({});
    $('.js-example-basic-multiple').select2({});
  });
