.container-fluid
  .row.mt-2
    .col-xs-12
      %h3
        -unless(params[:title]=="")
          Resultados de Búsqueda para
          %span.text-green
            =params[:title]
        -else
          Mostrando
          %span.text-green
            todos
          los Documentos
  .row
    =render 'results'
