.container
  %h1 Hello

  %button.btn.btn-primary Botón de bootstrap

  %p Para font-awesome, ver la página https://github.com/tomkra/font_awesome5_rails
  
  .row.px-4
    .col-4
      %p 1
      = fa_icon('receipt', size: '3x')
    .col-4
      %p 2
      = fa_icon('address-book', type: :regular, size: '3x')
    .col-4
      %p 3
      = fab_icon('airbnb', size: '3x')