.container-fluid
  .row
  =render 'layouts/alert'
  .mt-2
  .row
    - unless current_user.puede_subir_archivos?
      .col-md-2.col-sm-0
    .col-md-4.col-sm-12
      %h4{:style=>"text-align: center"}
        %i.fa.fa-download
        Descargas recientes
      .list-group
        - if @descargas.blank?
          .list-group-item
            %h5{:style=>"text-align: center"} No ha descargado ningún Documento
        - else
          - @descargas.each do |documento|
            .list-group-item
              .row
                .col-xs-1.pr-0
                  %h4.pull-right.mt-0
                    - if documento.extension.downcase.include? "pdf"
                      %i.far.fa-file-pdf
                    - elsif documento.extension.downcase.include? "png"
                      %i.far.fa-file-image
                    - elsif documento.extension.downcase.include? "jpg"
                      %i.far.fa-file-image
                    - elsif documento.extension.downcase.include? "doc"
                      %i.far.fa-file-word
                    - elsif documento.extension.downcase.include? "xls"
                      %i.far.fa-file-excel
                    - else
                      %i.far.fa-file
                .col-xs-9
                  .row
                    .col-xs-12
                      %h5.mt-0
                        %a
                          = link_to documento.titulo, documento
                  .row
                    .col-xs-12
                      = link_to documento.tipo_documento.nombre, results_path+"?utf8=✓&search[tipo]="+documento.tipo_documento.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-danger"
                      - documento.areas.each do |area|
                        = link_to area.full_name, results_path+"?utf8=✓&search[area]="+area.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-info"
                .col-xs-2{:style=>"padding-left: 0 !important;"}
                  %h3.mt-0
                    =link_to fa_icon('download'), documentos_descargar_path+"?data="+documento.id.to_s, :target=>"_blank", :role=>"btn" ,:class=>"btn btn-primary  btn-link pt-0"

    - if current_user.puede_subir_archivos?
      .col-md-4.col-sm-12
        %h4{:style=>"text-align: center"}
          %i.fa.fa-upload
          Subidas recientes
        .list-group
          - if @subidas.blank?
            .list-group-item
              %h5{:style=>"text-align: center"} No ha subido ningún Documento
          - else
            - @subidas.each do |documento|
              .list-group-item
                .row
                  .col-xs-1.pr-0
                    %h4.pull-right.mt-0
                      - if documento.extension.downcase.include? "pdf"
                        %i.far.fa-file-pdf
                      - elsif documento.extension.downcase.include? "png"
                        %i.far.fa-file-image
                      - elsif documento.extension.downcase.include? "jpg"
                        %i.far.fa-file-image
                      - elsif documento.extension.downcase.include? "doc"
                        %i.far.fa-file-word
                      - elsif documento.extension.downcase.include? "xls"
                        %i.far.fa-file-excel
                      - else
                        %i.far.fa-file
                  .col-xs-9
                    .row
                      .col-xs-12
                        %h5.mt-0
                          %a
                            = link_to documento.titulo, documento
                    .row
                      .col-xs-12
                        = link_to documento.tipo_documento.nombre, results_path+"?utf8=✓&search[tipo]="+documento.tipo_documento.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-danger"
                        - documento.areas.each do |area|
                          = link_to area.full_name, results_path+"?utf8=✓&search[area]="+area.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-info"
                  .col-xs-2{:style=>"padding-left: 0 !important;"}
                    %h3.mt-0
                      =link_to fa_icon('download'), documentos_descargar_path+"?data="+documento.id.to_s, :target=>"_blank", :role=>"btn" ,:class=>"btn btn-primary  btn-link pt-0"

    .col-md-4.col-sm-12
      %h4{:style=>"text-align: center"}
        %i.fa.fa-star
        Favoritos
      .list-group
        - if @favoritos.blank?
          .list-group-item
            %h5{:style=>"text-align: center"} No existen Favoritos
        - else
          - @favoritos.each do |documento|
            .list-group-item
              .row
                .col-xs-1.pr-0
                  %h4.pull-right.mt-0
                    - if documento.extension.downcase.include? "pdf"
                      %i.far.fa-file-pdf
                    - elsif documento.extension.downcase.include? "png"
                      %i.far.fa-file-image
                    - elsif documento.extension.downcase.include? "jpg"
                      %i.far.fa-file-image
                    - elsif documento.extension.downcase.include? "doc"
                      %i.far.fa-file-word
                    - elsif documento.extension.downcase.include? "xls"
                      %i.far.fa-file-excel
                    - else
                      %i.far.fa-file
                .col-xs-9
                  .row
                    .col-xs-12
                      %h5.mt-0
                        %a
                          = link_to documento.titulo, documento
                  .row
                    .col-xs-12
                      = link_to documento.tipo_documento.nombre, results_path+"?utf8=✓&search[tipo]="+documento.tipo_documento.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-danger"
                      - documento.areas.each do |area|
                        = link_to area.full_name, results_path+"?utf8=✓&search[area]="+area.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-info"
                .col-xs-2{:style=>"padding-left: 0 !important;"}
                  %h4.mt-0
                    =link_to fa_icon('download'), documentos_descargar_path+"?data="+documento.id.to_s, :target=>"_blank", :role=>"btn" ,:class=>"btn btn-primary btn-link pt-0"
  .row.mb-1
    .col-md-1
    .col-md-10.col-xs-12
      .row
        %h3.mb-1
          %i.fa.fa-cubes
          Explorar documentos por Tipo
      .row.mb-1.mt-2
        .col-md-6
          %form#tipos-form
            .input-group
              %input.form-control{:id=>"exploradorTipos", :placeholder => "Ej: Acta, Programa de Curso, Instructivo, etc.", :type => "text"}/
              %span.input-group-btn
                %button.btn.btn-default{:type=>"submit"}
                  %i.fa.fa-search
    .col-md-1
  .row.mb-1
    .col-md-1
    .col-md-10.col-xs-12.container-exploracion-tipos
      .col-xs-12
        -@tipos.each do |tipo|
          .btn.btn-danger.panel-default.panel-exploracion
            %a{:href=>"/results?utf8=✓&search[tipo]="+tipo.id.to_s}
              %span.nombre-tipo
                =tipo.nombre
              .badge
                =(tipo.documentos.select {|doc| doc.activo}).length
    .col-md-1
  .row.mb-2
    .col-md-1
    .col-md-10.col-xs-12
      .row
        %h3.mb-1
          %i.fa.fa-code-branch
          Explorar documentos por Área
      .row.mb-1.mt-2
        .col-md-6
          %form#areas-form
            .input-group
              %input.form-control{:id=>"exploradorAreas", :placeholder => "Ej: Plan Común, Postgrado, Sistemas, Extensión, etc.", :type => "text"}/
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search
    .col-md-1
  .row.mb-1
    .col-md-1
    .col-md-10.col-xs-12.container-exploracion-areas
      .col-xs-12
        -@areas.each do |area|
          .btn.btn-info.panel-default.panel-exploracion
            %a{:href=>"/results?utf8=✓&search[area]="+area.id.to_s}
              %span.nombre-area
                =area.full_name
              .badge
                =(area.documentos.select {|doc| doc.activo}).length
