.container  
  .row.justify-content-md-center
    %h1 Resultados de búsqueda
  .row
    %a{:href => ""} Descargar seleccionados
  .row
    %table.table.table-hover
      %thead
        %tr
          %th
          %th
          %th{:scope => "col"} Nombre
          %th{:scope => "col"} Fecha de subida
          %th{:scope => "col"} Tamaño
          %th{:scope => "col"} Subido por
          %th{:scope => "col"} Tipo
          %th{:scope => "col"} Áreas
          %th{:scope => "col"} Extensión
          %th{:scope => "col"}
      %tbody
        - @documentos.each do |documento|
          %tr.clickable-row{"data-href" => "/documentos/"+String(documento.id)}
            %th
              .form-check
                %input#defaultCheck1.form-check-input{:type => "checkbox", :value => ""}/
                -#%label.form-check-label{:for => "defaultCheck1"}
            %td
              - if documento.extension=="PDF"
                =image_tag("/images/pdf.png", :size => "30x30")
              - elsif documento.extension=="PNG"
                =image_tag("/images/png.png", :size => "30x30")
              - elsif documento.extension=="DOCX"
                =image_tag("/images/docx.png", :size => "30x30")
              - elsif documento.extension=="JPG"
                =image_tag("/images/jpg.png", :size => "30x30")
              - else
                =image_tag("/images/unknown.png", :size => "30x30")
            %th{:scope => "row"}=documento.titulo
            %td=documento.fecha_documento.strftime("%d/%m/%Y")
            %td=documento.peso.to_s+" KB"
            %td=documento.user.nombre
            %td
            %td
            %td=documento.extension
            %td
              %button.btn.btn-primary{:type => "button"}
                =fa_icon('file-download')
