:css
  choice {
    color: #333; important!
  }

:javascript
  // sugerir titulo de documento segun archivo
  $(document).ready(function(){
      $('#CustomFile').change(function(e){
          var fileName = e.target.files[0].name;
          if(fileName.indexOf(".") > 0){
            fileName = fileName.slice(0,fileName.indexOf("."));
          }
          $('#inputTitulo').val(fileName);
      });
  });
  //
  var uploadField = document.getElementById("CustomFile");

  uploadField.onchange = function() {
      maxSizeInMB = 10;
      if(this.files[0].size > 1048576 * maxSizeInMB){
         alert("El tamaño del archivo es muy grande. El tamaño máximo es " + maxSizeInMB + "MB.");
         this.value = "";
      };
      if(this.files[0].size == 0){
         alert("El archivo tiene tamaño 0. No se permite subir archivos sin contenido.");
         this.value = "";
      };
  };

.container-fluid
  .row
    =render 'layouts/alert'
  .row
    .col-md-12.mb-2{:style=>"padding: 0 2em"}
      .card
        .card-header
          %h3 Subir Nuevo Documento
        .card-body
          =form_tag("/documentos", method: "post", multipart: true) do
            .form-group.mt-3
              %label.doc-input-label{:for=>"fileInput"}
                Subir Documento
                %small
                  %span.required-true
                    *
              .custom-file#fileInput
                %input#CustomFile.custom-file-input{:required => "", :type => "file", :name=>"file", :onchange=>"relabelInput(this)"}
                %small.form-text.text-muted Tamaño máximo del documento: 10 MB.
            .form-group.mt-3
              %label.doc-input-label{:for=>"inputTitulo"}
                Título del Documento
                %small
                  %span.required-true
                    *
              %input.form-control#inputTitulo{:required => "", :type=>"text", :aria-describedby=>"tituloHelp", :placeholder=>"Ingresar Título", :name=>"title", maxlength: "255"}
            .form-group.mt-3
              %label.doc-input-label{:for=>"inputAutor"}Autor(es)
              %input.form-control#inputAutor{:type=>"text", :aria-describedby=>"autorHelp", :placeholder=>"Ingresar Autor del documento", :name=>"autor", maxlength: "255"}
            .form-group.mt-3
              %label.doc-input-label{:for => "inputDescripcion"} Descripción del Documento
              %textarea#inputDescripcion.form-control{:rows => "3", :name=>"descripcion", maxlength: "5000"}
            .form-group.mt-3


            .form-group
              .row
                .col-md-6.col-xs-12
                  %label.doc-input-label
                    Tipo de Documento
                    %small
                      %span.required-true
                        *
                  %select.js-example-basic-single{:required => "", :name => "tipo", :style=>"width:100%"}
                    %option{value: ""}
                      =""
                    -@tipos.each do |tipo|
                      %option{:value=>tipo.id}
                        =tipo.nombre
                .col-md-6.col-xs-12
                  %label.doc-input-label
                    Fecha de Creación
                  .input-group{"data-target-input" => "nearest"}
                    %input.form-control#fechaCreacion{:type=>"text", :name=>"fecha","data-provide"=>"datepicker", "data-date-end-date": "0d"}
                    -#value: "#{l(Time.zone.now, format: '%d/%m/%Y')}"
                    %span.input-group-addon{"data-target" => "#fechaCreacion"}
                      .input-group-text
                        %i.fa.fa-calendar
            .form-group
              %label.doc-input-label Áreas del Documento
              -# !!!HAY QUE METERLE DELAS LOGICAS CON JS
              %select.js-example-basic-multiple.choice{:multiple => "multiple", :name => "areas[]", :style=>"width:100%"}
                -@areas.each do |area|
                  %option{:value=>area.id}
                    =area.nombre

              -# %select.custom-select.form-control{:name=>"area"}
              -#   -@areas.each do |area|
              -#     %option{:value=>area.id}
              -#       =area.nombre
            %button.btn.btn-primary{:type=>"submit"} Subir

:javascript
  $(document).ready(function() {
    $('.js-example-basic-single').select2({
      language: "es"
    });
    $('.js-example-basic-multiple').select2({
      language: "es"
    });
  });
