:css
  .pl {
    padding-left: 30px; !important
  }

  .mb{
    margin-bottom: 15px;
  }
  
  .mt{
    margin-top: 8px;
  }

.container-fluid
  =render 'layouts/alert'
  .box.box-primary.color-palette-box.mt-2{:style=>"padding-top:0.5em"}
    .box-header.with-border
      .col-xs-8
        %h4
          = link_to  results_path+"?utf8=✓&search[tipo]="+@tipo.id.to_s , :target=>"_self" , :role=>"btn"  do #,:class=>"btn btn-danger mr-3"
            %button.btn.btn-sm.btn-danger{"data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Tipo de Documento"}
              = @tipo.nombre
        %h2.mb
          - if @document.extension.downcase.include? "pdf"
            %i.far.fa-file-pdf
          - elsif @document.extension.downcase.include? "png"
            %i.far.fa-file-image
          - elsif @document.extension.downcase.include? "jpg"
            %i.far.fa-file-image
          - elsif @document.extension.downcase.include? "doc"
            %i.far.fa-file-word
          - elsif @document.extension.downcase.include? "xls"
            %i.far.fa-file-excel
          - else
            %i.far.fa-file
          = "&nbsp&nbsp".html_safe + @document.titulo
        %h5
          -if current_user.puede_administrar?
            Subido por
            %span.ficha-ispan=@document.user.nombre
          - else
            Subido
          el
          %span.ficha-ispan=@document.created_at.strftime("%d/%m/%Y")
      .col-xs-4
        -# .col-1.bg-light.ficha-div.ficha-right
        -if current_user.puede_modificar_data?
          .dropdown.pull-right
            %button#dropdownMenuButton.btn.btn-default{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              =fa_icon('ellipsis-h')
            %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
              %li
                %button.btn.btn-link.dropdown-item{type: "button", data: {toggle: "modal", target: "#modalEditDocument"}} Editar
              -if current_user.puede_eliminar_archivos?
                %li
                  %button.btn.btn-link.dropdown-item{type: "button", data: {toggle: "modal", target: "#modalRewriteDocument"}} Sobreescribir
                %li
                  %button.btn.btn-link.dropdown-item{type: "button", data: {toggle: "modal", target: "#modalDeleteDocument"}} Eliminar
    .box-body
      .row
        .col-md-12
          .row
            .col-md-6.pl
              - if @document.autor.present?
                %h5.mb
                  %span.ficha-bspan Autor(es):
                  =@document.autor
              - if @document.fecha_documento.present?
                %h5.mb
                  %span.ficha-bspan Fecha de Creación:
                  =@document.fecha_documento.strftime("%d/%m/%Y")
              %h5.mb
                %span.ficha-bspan Tamaño:
                -if(@document.peso < 1024)
                  =@document.peso.to_s+" bytes"
                -elsif((@document.peso)/1024.0 < 1024.0)
                  =((@document.peso)/1024.0).round(2).to_s+" KB"
                -else
                  =((@document.peso)/1024.0/1024.0).round(2).to_s+" MB"
              %h5.mb
                %span.ficha-bspan.mr-05 Áreas:
                -if @document.areas.present?
                  - @document.areas.each do |area|
                    = link_to area.full_name, results_path+"?utf8=✓&search[area]="+area.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-info mr-05"
                -else
                  %span.text-muted El documento no tiene áreas asignadas
              -if @document.extension.present?
                %h5.mb
                  %span.ficha-bspan Extensión:
                  =@document.extension.upcase
            .col-md-6
              -if @document.descripcion.present?
                %h5
                  %span.ficha-bspan.mb Descripción:
                  .well.well-sm.mt
                    =@document.descripcion
    .box.box-footer
      .col-md-2.mt
        .btn.float-right.btn-light.fav-button
          -if current_user.favoritos.any?{|f| f.documento_id == @document.id}
            .fav-link-container
              %i.fa.fa-star.text-yellow
              %a.fav-link.fav-link-marked
                Quitar de Favoritos
          -else
            .fav-link-container
              %i.far.fa-star.text-yellow
              %a.fav-link.fav-link-unmarked
                Agregar a Favoritos
      .col-md-2
        .btn.float-right.btn-light
          =fa_icon('download')
          =link_to "Descargar",documentos_descargar_path+"?data="+@document.id.to_s, :target=>"_blank", :class => "btn", :role =>"btn"



.modal.fade{id: "modalEditDocument", role: "dialog", aria: {labelledby: "modalEditDocument", hidden: "true"}}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title{id: "modalEditDocumentLabel"}
          Editando información del documento
          %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Cerrar"}}
            %span{aria: {hidden: "true"}} &times;
      = form_with(:url => edit_path) do
        .modal-body
          .container-fluid
            =hidden_field(:document, :archivo_documento)
            .form-group
              = label_tag('Título', nil, class: 'doc-input-label')
              %small
                %span.required-true
                  *
              = text_field(:document, :titulo, {class: 'form-control', required: true})
            .form-group
              = label_tag('Descripción', nil, class: 'doc-input-label')
              = text_area(:document, :descripcion, class: 'form-control')
            .form-group
              = label_tag('Tipo', nil, class: 'doc-input-label')
              %small
                %span.required-true
                  *
              = select(:document, :tipo_documento_id, TipoDocumento.all.collect {|p| [ p.nombre, p.id ] }, { include_blank: false }, class: 'js-example-basic-single', multiple: false, style: 'width: 100%;')
            .form-group
              = label_tag('Autor', nil, class: 'doc-input-label')
              = text_field(:document, :autor, class: 'form-control')
            .form-group
              = label_tag('Fecha de Creación', nil, class: 'doc-input-label')
              -#= date_field(:document, :fecha_documento, :required => true)
              .input-group
                %input.form-control#fechaCreacion{:type=>"text", :name=>"document[fecha_documento]","data-provide"=>"datepicker", "data-date-end-date": "0d", :value => @document.fecha_documento.present? ? @document.fecha_documento.strftime('%d/%m/%Y') : ""}
                %span.input-group-addon{"data-target" => "#fechaCreacion"}
                  .input-group-text
                    %i.fa.fa-calendar
            .form-group.mt-3
              = label_tag('Áreas', nil, class: 'doc-input-label')
              = select(:document, :area_ids, Area.all.collect {|p| [ p.nombre, p.id ] }, { include_blank: false, include_hidden: false }, {class: 'js-example-basic-multiple', multiple: true, style: 'width: 100%;'}  )
        .modal-footer
          = hidden_field(:document, :id)
          = submit_tag 'Confirmar', class: "btn btn-default"

.modal.fade{id: "modalRewriteDocument", tabindex: "-1", role: "dialog", aria: {labelledby: "modalRewriteDocument", hidden: "true"}}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title{id: "modalRewriteDocumentLabel"}
          Sobreescribir archivo asociado al documento
          %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Cerrar"}}
            %span{aria: {hidden: "true"}} &times;
      = form_tag(rewrite_path, method: "post", multipart: true) do
        .modal-body
          -# todo completar modal
          .container
            .form-group
              = label_tag('file', 'Ingrese la nueva versión del documento', class: 'doc-input-label')
              .custom-file#fileInput
                %input#CustomFile.custom-file-input{:required => "", :type => "file", :name=>"file", :onchange=>"relabelInput(this)"}
                %label.custom-file-label{:for => "validatedCustomFile"} ---
                %small.form-text.text-muted Tamaño máximo del documento: 10 Mb.
        .modal-footer
          = hidden_field(:document, :id)
          = submit_tag 'Confirmar', class: "btn btn-default"

.modal.fade{id: "modalDeleteDocument", tabindex: "-1", role: "dialog", aria: {labelledby: "modalDeleteDocument", hidden: "true"}}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5.modal-title{id: "modalDeleteDocumentLabel"}
          Eliminar documento
          %button.close{type: "button", data: {dismiss: "modal"}, aria: {label: "Cerrar"}}
            %span{aria: {hidden: "true"}} &times;
      .modal-body
        %p
          ¿Está seguro de que desea
          %b eliminar
          este Documento?
      .modal-footer
        = form_with(:url => delete_path) do
          = hidden_field(:document, :id)
          = submit_tag 'Eliminar', class: "btn btn-danger"
:javascript
  $(document).ready(function() {
    $('.js-example-basic-single').select2({
      dropdownParent: "#modal-container"
    });
    $('.js-example-basic-multiple').select2({
      language: "es"
      width: 'resolve'
    });
  });
