:css
  body {
    background-color: #4273B3
  }

.container
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card.card-signin.my-5
        .card-body
          %h2.card-title.text-center Placeholder de Log In por U-Pasaporte
          .row
            .col.d-flex.justify-content-center.py-2
              %button.btn.btn-primary
                = link_to "Log in como 'Sin permisos'", user_log_in_as_user_path(tipo: :Sin_Permisos), method: :get, :class => "btn"
          .row
            .col.d-flex.justify-content-center.py-2
              %button.btn.btn-primary
                = link_to "Log in como Visitante", user_log_in_as_user_path(tipo: :Visitante), method: :get, :class => "btn"
          .row
            .col.d-flex.justify-content-center.py-2
              %button.btn.btn-primary
                = link_to "Log in como Asistente", user_log_in_as_user_path(tipo: :Asistente), method: :get, :class => "btn"
          .row
            .col.d-flex.justify-content-center.py-2
              %button.btn.btn-primary
                = link_to "Log in como Coordinador", user_log_in_as_user_path(tipo: :Coordinador), method: :get, :class => "btn"
          .row
            .col.d-flex.justify-content-center.py-2
              %button.btn.btn-primary
                = link_to "Log in Administrador", user_log_in_as_user_path(tipo: :Administrador), method: :get, :class => "btn"

