:css
  body {
    background-color: #4273B3
  }

.container
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card.card-signin.my-5
        .card-body
          %h4.card-title Actualmente no tienes permisos para acceder. Contacta al administrador en admin@dcc.uchile.cl para consultar tu situación.