:css
  .mt {
    margin-top: 20px;
  }

  .mb {
    margin-bottom: 10px;
  }

  .center {
    text-align:center;
    margin:auto;
  }

.container
  .row
    .col-sm-2
    .col-sm-8
      .panel.panel-default.mt
        .panel-body
          .center
            %h2 Repositorio de Documentos del DCC
            .mt
              %script{:language => "JavaScript", :src => "https://www.u-cursos.cl/upasaporte/javascript?servicio=repodcc"}
            - if Rails.env.development?  
              %h2.card-title.text-center.center-block Log In placeholder
              .row.py-3
                .col-xs-12.mb
                  .center
                  = link_to "Log in como 'Sin permisos'", user_log_in_as_user_path(tipo: :Sin_Permisos), method: :get, :class => "btn btn-primary"
                .col-xs-12.mb
                  .center
                  = link_to "Log in como Visitante", user_log_in_as_user_path(tipo: :Visitante), method: :get, :class => "btn btn-primary"
                .col-xs-12.mb
                  .center
                  = link_to "Log in como Asistente", user_log_in_as_user_path(tipo: :Asistente), method: :get, :class => "btn btn-primary"
                .col-xs-12.mb
                  .center
                  = link_to "Log in como Coordinador", user_log_in_as_user_path(tipo: :Coordinador), method: :get, :class => "btn btn-primary"
                .col-xs-12.mb
                  .center
                  = link_to "Log in Administrador", user_log_in_as_user_path(tipo: :Administrador), method: :get, :class => "btn btn-primary"
    .col-sm-2


