:css
  .mt {
    margin-top: 20px;
  }

  .center {
    text-align:center;
    margin:auto;
  }

.container
  .row
    .col-sm-2
    .col-sm-8.mx-auto
      .panel.panel-default.mt
        .panel-body
          %h1 Hola!
          %h3 Gracias por acceder al repositorio de documentos del DCC.
          %h4 Para tener acceso a los documentos del repositorio, contacta al administrador de la plataforma en apps@dcc.uchile.cl con tu nombre y RUT.
          .center
            = link_to "Cerrar Sesión", user_log_out_path, method: :get, :class => "btn btn-primary"
    .col-sm-2