.container-fluid
  .row
    .col-xs-12
      %h3 Favoritos
  .row
    .col-xs-12
      .mt-1
        - if @favoritos.blank?
          %h4 Aún no has guardado documentos como favoritos
        - else
          %table.table-hover.table-striped.table-bordered.datatable#favoritosDatatable
            %thead
              %tr
                %th
                %th{:scope => "col"} Nombre
                %th{:scope => "col"} Fecha de subida
                %th{:scope => "col"} Fecha de creación
                %th{:scope => "col"} Tamaño
                %th{:scope => "col"} Subido por
                %th{:scope => "col"} Tipo
                %th{:scope => "col"} Áreas
                %th{:scope => "col"} Extensión
                %th{:scope => "col"}
            %tbody
              - @favoritos.each do |documento|
                %tr.clickable-row{"data-href" => "/documentos/"+String(documento.id)}
                  %td{"style"=>"font-size:24px"}
                    - if documento.extension.downcase.include? "pdf"
                      %i.far.fa-file-pdf
                    - elsif documento.extension.downcase.include? "png"
                      %i.far.fa-file-image
                    - elsif documento.extension.downcase.include? "jpg"
                      %i.far.fa-file-image
                    - elsif documento.extension.downcase.include? "doc"
                      %i.far.fa-file-word
                    - elsif documento.extension.downcase.include? "xls"
                      %i.far.fa-file-excel
                    - else
                      %i.far.fa-file
                  %td.clickable{:scope => "row"}=documento.titulo
                  %td.clickable{"data-order": documento.fecha_subida}=documento.fecha_subida.strftime("%d/%m/%Y")
                  - if documento.fecha_documento.present?
                    %td.clickable{"data-order": documento.fecha_documento}=documento.fecha_documento.strftime("%d/%m/%Y")
                  - else
                    %td.clickable
                  %td.clickable
                    -if(documento.peso < 1024)
                      =documento.peso.to_s+" bytes"
                    -elsif((documento.peso)/1024.0 < 1024.0)
                      =((documento.peso)/1024.0).round(2).to_s+" KB"
                    -else
                      =((documento.peso)/1024.0/1024.0).round(2).to_s+" MB"
                  %td.clickable=documento.user.nombre
                  %td.not-clickable
                    = link_to documento.tipo_documento.nombre, results_path+"?utf8=✓&search[tipo]="+documento.tipo_documento.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-danger", :style=>"font-size:14px;"
                  %td.not-clickable
                    -documento.areas.each do |area|
                      = link_to area.nombre, results_path+"?utf8=✓&search[area]="+area.id.to_s , :target=>"_self", :role=>"btn", :class=>"label label-info", :style=>"font-size:14px; margin-bottom:5px;"
                  %td.clickable=documento.extension
                  %td.not-clickable
                    =link_to fa_icon('download'), documentos_descargar_path+"?data="+documento.id.to_s, :target=>"_blank", :role=>"btn" ,:class=>"btn btn-primary"
            :javascript
              $(document).ready(function(){
                if ( ! $.fn.DataTable.isDataTable( '#favoritosDatatable' ) ) {
                  $('#favoritosDatatable').DataTable({
                   "columnDefs": [
                      { "orderable": false, "targets": [0, 9] }
                    ],
                    "language":window.dataTable_locale,
                    "order": [[ 2, 'desc' ]]
                   });
                  }
               });
               document.addEventListener("turbolinks:load",function(){
                if ( ! $.fn.DataTable.isDataTable( '#favoritosDatatable' ) ) {
                 $('#favoritosDatatable').DataTable({
                 "columnDefs": [
                    { "orderable": false, "targets": [0, 9] }
                  ],
                  "language":window.dataTable_locale,
                  "order": [[ 2, 'desc' ]]
                 });
                }
               });
