// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-nav{
  background-color: #1c304a;
  padding: 0;

  .nav-pills .nav-link{
    border-radius: 0;
    color: #eeeeee;
  }
  .nav-pills .nav-link.active{
    color: #ffffff;
    border-left: 5px solid #3366ff;
    background-color: rgba(150,150,150,0.1);
    font-weight: bold;
  }
}


.first-row{
  margin:0em 2em!important;  
}
.admin-content{
  background-color: #f2f2f2;
  border-left: 3px solid #d9d9d9;

  .table-container{
    height: auto;
    overflow: auto;
  }
}

.center-cell{
  text-align: center;
}
