/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font_awesome5_webfont
 *= require_tree .
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.

html, body {
  height: 100%
}
body {
  display: flex;
  align-items: stretch;
}

#page-container {
  width: 100%
}


.repo-navbar{
  color: white;
  background-color: #4273B3!important;
  .nav-link{
    color: rgba(255,255,255,0.9)!important
  }
}

.min-vh-100{
  min-height: 100vh;
}

.mt-4{
  margin-top:4em!important;
}
.mt-3{
  margin-top:3em!important;
}
.mt-2{
  margin-top:2em!important;
}
.mr-05{
  margin-right:0.5em!important;
}
.ml-05{
  margin-left:0.5em!important;
}
.pr-0{
  padding-right:0!important;
}
.pt-0{
  padding-top:0!important;
}
.mt-0{
  margin-top:0!important
}
.mt-05{
  margin-top:0.5em!important
}
.mb-0{
  margin-bottom:0!important
}
.mb-1{
  margin-bottom:1em!important
}
.mb-2{
  margin-bottom:2em!important
}
.form-margin{
  margin-top:10px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .col-xs-0{
    display:none;
  }
}
@media (min-width: 768px) {
  .col-md-0{
    display:none;
  }
}


.dataTables_paginate .paginate_button{
  padding:0!important;
}
.dataTables_filter{
  float:left!important;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}


table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #000;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.input-group-addon:last-child{
  border-radius: 0 5px 5px 0!important;
}

.select2-container--open .select2-dropdown--below{
  border-top:0!important;
}
.select2-container--open .select2-dropdown--above{
  border-bottom:0!important;
}
.select2-dropdown{
  border: 1px solid #ccc!important;
}
.select2-selection{
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)!important;
  border: 1px solid #ccc!important;
  min-height: 32px!important;
}

.label {
    display: inline-block!important ;
}
.fav-added{
  padding:6px 12px!important;
}

@media(max-width:767px){
  .content-wrapper{
    overflow-x: auto!important;
    min-width: 100vh;
  }
}
.content-wrapper{
  overflow-x: auto!important;
}
