// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select2-container .select2-selection--single{
  height: calc(1.5em + 0.75rem + 1px);
  .select2-selection__arrow{
    height: calc(1.5em + 0.75rem);
  }
}

.custom-file-label{
  width: auto!important;
}
.doc-input-label{
  width: auto!important;
}
.required-true{
  font-weight: 600;
  font-size: 16px;
}
.ficha-bspan{
  font-weight: bold;
}
.ficha-ispan{
  font-style: italic;
}
.ficha-left{
  border-right: 0!important;
  border-radius: 5px 0 0 5px;
}
.ficha-right{
  border-left: 0!important;
  border-radius: 0 5px 5px 0;
}
.ficha-div{
  padding-top:1em;
  border: 1px solid grey;
  h1,h2,h3,h4,h5,h6{
    font-weight: 400;
  }
}
.bg-descripcion{
  background-color: rgba(0,0,0,0.05);
  padding:0.2em;
}
