// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-exploracion{

}

.panel-exploracion{
  display: inline-block;
  width:auto;
  padding: 15px 10px;
  a{
    color:#eee;    
  }

}
