-if notice or alert
  .container.mt-2#alertComponent{"onClick"=>"removeAlert()"}
    -if notice
      .alert.alert-info.p-2
        =notice
    -if alert
      .alert.alert-warning.p-2
        =alert

:javascript
  function removeAlert(){
    $('#alertComponent').fadeOut("normal", function() {
        $(this).remove();
    });
  }

  setTimeout(function(){
    if ($('#alertComponent').length > 0) {  		
      $('#alertComponent').fadeOut("normal", function() {
          $(this).remove();
      });
    }
  }, 3000)
