%header.main-header
  %a.logo{href: root_path}
    %span.logo-mini
      DCC
    %span.logo-lg
      %b
        Documentos
      DCC
  %nav.navbar.navbar-static-top
    %a.sidebar-toggle{'data-toggle'=>'offcanvas', :role=>'button'}
      %span.sr-only Menú
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li
          %form.navbar-form{:action => "/search", :method => "get"}
            .input-group.input-group-sm
              %input.form-control{:name => "title", :placeholder => "Buscar documentos", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-flat.bg-teal{:type => "submit"}
                    %i.fa.fa-search
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span
              %i.fa.fa-user
            %span.hidden-xs
              = current_user.nombre
          %ul.dropdown-menu{"role"=>"menu"}
            -# / Menu Body
            %li
              %a.dropdown-item{:href => user_log_out_path} Cerrar Sesión
