%aside.main-sidebar
  / Inner sidebar
  %section.sidebar
    / user panel (Optional)
    %ul.sidebar-menu.tree{"data-widget"=>"tree"}
      %li
        %a{:href => "/"}
          %i.fa.fa-home
          %span
            Home
      %li.header
        %span
          DOCUMENTOS
      / Optionally, you can add icons to the links
      %li
        %a{:href => "/favoritos/"}
          %i.fa.fa-star
          %span Favoritos
      %li
        %a{:href => "/search/advanced"}
          %i.fa.fa-search-plus
          %span Búsqueda Avanzada
      -if current_user.puede_subir_archivos?
        %li
          %a{:href => "/documentos/new"}
            %i.fas.fa-folder-plus
            %span Subir Nuevo Documento
      -if current_user.puede_administrar?
        %li.header#v-pills-tab
          %span
            ADMINISTRAR
          %li
            %a{:href => "/admin/usuarios"}
              %i.fa.fa-user
              %span Usuarios
          %li
            %a{:href => "/admin/tipos"}
              %i.fas.fa-cubes
              %span Tipos
          %li
            %a{:href => "/admin/areas"}
              %i.fas.fa-code-branch
              %span Áreas
          %li
            %a{:href => "/admin/actividad"}
              %i.fas.fa-history
              %span Registro de Actividad
    / /.sidebar-menu
    / /.sidebar
  / /.main-sidebar
