!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RepositorioDocumentosDcc
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.skin-blue-light.sidebar-mini
    #page-container
      -if current_page?(user_log_in_path)
        =yield
      -else
        -if current_user.puede_ver_sitio?
          .wrapper
            = render 'layouts/navbar'
            = render 'layouts/sidebar'
            .content-wrapper
              .min-vh-100
                =yield
        -else
          =yield
